body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}
h1 {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-size: 19px;
}